:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --green-color: #059669;
  --grey-color: #e2e8f035;
  --gold-color: #f7ad2d;
  --boxshadow: 2px 2px 4px 1px rgb(0 0 0 / 10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: var(--grey-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
